@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto&family=Roboto+Mono:wght@100&display=swap');

html {
    background: url(https://venturebeat.com/wp-content/uploads/2021/05/GettyImages-1291886933-e1624308433688.jpg?fit=2309%2C1154&strip=all);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

nav {
    margin: 0;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #e83fdd;
    font-weight: bold;
}

a:hover {
    color: white;
}

ul{
    margin: 1em;
}

ul > li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    float: left;
}

.nouser {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    float: left;
}

.logout {
    display: block;
    padding-left: 2px;
}

.logout > a:hover::after {
    content: ">>>";
}

div {
    display: block;
    margin-left: 2rem;
    padding: 0;
    justify-content: left;
    color: white;
    float: left;
}

h1 {
    margin-left: 1.70rem;
    justify-content: left;
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-size: 7em;
    color: white;
}

h2, p {
    margin-left: 1.70rem;
    justify-content: left;
    color: white;
}

table {
    margin: 0;
    text-align: center;
    border-spacing: 1em;
    background-color: transparent;
    backdrop-filter: blur(10px);

}

.p_name {
    text-align: left;
}

button {
    display: inline-block;
    color: #e83fdd;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1em;
}

button:hover {
    color: white;
}

button:hover::after {
    content: ">>>";
    padding-left: 2px;
}
