{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if my_tasks %}
            <table>
                <thead>
                    <tr>
                        <th class="p_name">Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in my_tasks %}
                        <tr>
                            <td class="p_name">{{ task.name }}</td>
                            <td>{{ task.start_date|date:"M d, Y" }}</td>
                            <td>{{ task.due_date|date:"M d, Y" }}</td>
                            <td>{{ task.is_complete|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
