{% extends 'base.html' %}

{% block title %}
    {{ project_object.name }}
{% endblock title %}
{% block content %}
    <div>
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href={% url "create_task" %}>Create a new task</a>
        </p>
        {% if task_list %}
            <table>
                <thead>
                    <tr>
                        <th class="p_name">Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_object.tasks.all %}
                        <tr>
                            <td class="p_name">{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date|date:"M d, Y" }}</td>
                            <td>{{ task.due_date|date:"M d, Y" }}</td>
                            <td>{{ task.is_complete|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
